:root {
    --primary-color: #212121;
    --background-color: #111;
    --font: sans-serif;
  }
 @media only screen and (max-width:600px) {
  
  .container-img{
    width: 90vw;
    margin: 0rem;
  }
} 
body{
    background: url("./QFNv.gif");
}
*{
  font-family: sans-serif;
}
/*css for timeline*/
.maintimelinediv{
    margin-top: 1rem;
    font-family: var(--font);
    display: flex;
    justify-content: center;
}
.timeline1 {
    /* background: url("./QFNv.gif"); */
    margin: 20px auto;
    padding: 20px;
  }
  
  /* Card container */
  .card1 {
    position: relative;
    max-width: 400px;
  }
  
  /* setting padding based on even or odd */
  .card1:nth-child(odd) {
    padding: 30px 0 30px 30px;
  }
  .card1:nth-child(even) {
    padding: 30px 30px 30px 0;
  }
  /* Global ::before */
  .card1::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid orangered;
  }
  
  /* Setting the border of top, bottom, left */
  .card1:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
  }
  
  /* Setting the border of top, bottom, right */
  .card1:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
  }
  
  /* Removing the border if it is the first card */
  .card1:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's odd */
  .card1:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's even */
  .card1:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
  }
  
  /* Information about the timeline */
  .info1 {
    display: flex;
    flex-direction: column;
    background: #333;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
  }
  
  /* Title of the card */
  .title1 {
    color: orangered;
    position: relative;
  }
  
  /* Timeline dot  */
  .title1::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid orangered;
  }
  
  /* text right if the card is even  */
  .card1:nth-child(even) > .info1 > .title1 {
    text-align: right;
  }
  
  /* setting dot to the left if the card is odd */
  .card1:nth-child(odd) > .info1 > .title1::before {
    left: -45px;
  }
  
  /* setting dot to the right if the card is odd */
  .card1:nth-child(even) > .info1 > .title1::before {
    right: -45px;
  }

  /*css for timeline*/

  .flex-container
{
    margin-top: 4rem;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: left;
    
}

.flex-box
{
    box-sizing: border-box;
    width: 530px;
     height: 322px;
    background: #2B2B2B;
    color: white;
    font-size: 25px;
    text-align: center;
    border-radius:80px ;
    margin: 30px;   
}

.flex-box1
{
    margin-top: 0rem;
    width: 630px;
    /* height: 122px; */
    background: opaque;
    color: whitesmoke;
    font-size: 20px;
    text-align: left;
    border-radius:80px ;
     
}

.flex-box2
{
    margin-top: 5rem;
    background: opaque;
    color: whitesmoke;
    font-size: 21px;
    text-align: center;
    text-decoration: underline;
}

.maincontent{
  margin-top: 2rem;
  padding: 0.5rem;
}



/* #####################gallery css ##############  */
.gallery-container{
  margin: 1rem auto;
   display: flex;
   width: 80vw;
 }
 .container-img{
   display: flex;
   flex-wrap: wrap;
   margin: 1rem; 
   gap: 30px;
   position: relative;

 }
 .container-img>img{
  width: 15rem;
  height: 15rem;
  border-radius: 20px;
  margin: 0 auto;
 }


 /* ############################map########################  */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: #000;
}
.containermap {
  margin: auto;
  width: 60vw;
  height: max-content;
  background-color: gray;
  border-radius: 20px;
  display: flex;
  padding: 1rem;
  justify-content: space-around;
}
.address {
  color: #fff;
  text-align: center;
  width: 50%;
  margin: 0.5rem auto;
  font-size: small;
}
.map {
  order: 2;
  width: 100%;
  margin-right: 1rem;
}
.map iframe {
  width: 100%;
}
.city {
  display: flex;
  padding: 1.5rem;
}
.add {
  display: flex;
  padding: 1rem;
  margin: 0 auto;
}
.add > i {
  padding: 1rem;
}
.add h6 {
  padding: 1rem;
  text-align: start;
}
.phone {
  display: flex;

  padding: 1rem;
  margin: 0 auto;
}
.phone i {
  padding: 1rem;
}
.phone h6 {
  padding: 1rem;
  line-height: 2rem;
}
.mail {
  display: flex;
  margin: 0 1rem;
  align-items: center;
}
.mail i {
  padding: 1rem;
}
.input {
  width: 60%;
  height: 2rem;
  border-radius: 10px;
  text-align: center;
}
.mail > button {
  margin: 0 0.5rem;
  padding: 0.3rem;
  font-weight: bold;
}
@media (max-width: 768px) {
  .body {
    font-size: 10px;
  }
  .containermap {
    margin: auto;
    width: 100vw;
    height: max-content;
    background-color: gray;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-around;
  }
  .city {
    display: flex;
    justify-content: space-between;

    width: 100%;
    line-height: 3rem;
    padding: 1rem;
  }
  .add {
    display: flex;
    padding: 1rem;
    margin: 0 auto;
  }
  .add > i {
    padding: 1rem;
  }
  .add h4 {
    padding: 1rem;
    text-align: start;
  }
  .phone {
    display: flex;

    padding: 1rem;
    margin: 0 auto;
  }
  .phone i {
    padding: 1rem;
  }
  .phone h4 {
    padding: 1rem;
    line-height: 3rem;
  }
  .mail {
    display: flex;
    margin: 0 1rem;
    align-items: center;
  }
  .mail i {
    padding: 1rem;
  }
  .input {
    width: 60%;
    height: 2rem;
    border-radius: 10px;
    text-align: center;
  }
  .mail > button {
    margin: 0 0.5rem;
    padding: 0.3rem;
    font-weight: bold;
  }
}


